.desserts{
    &__titre{
        font-family: $txt-font-texte;
        font-size: 20px;
        margin-left: 20px;
        border-bottom: solid 2px #99e2d0;
        width: 30px;
    }
    &__description{
        box-shadow: 1px 1px 12px #555;
    background-color: white;
     height: 70px;
     border-radius: 10px;
     width: 340px;
     margin-left: 10px;
    }
    &__tartare{
        font-family:$txt-font-texte ;
        font-weight: bold;
        padding-left: 8px;
        padding-top: 8px;
        font-size: 17px;
    }
    &__descriptif{
        font-family: $txt-font-texte;
        padding-left: 8px;
        margin-right: 20px;
    }
}