.entree{
    display: flex;
    &__titre{
        font-family: $txt-font-titre ;
        margin-left: 20px;
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
.entrees{
    &__test{
        width: 80%;
        white-space: nowrap;
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__titre{
        font-family: $txt-font-texte;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
        border-bottom: solid 3px #99e2d0;
        width: 10%;
    }
    &__description{
        display: flex;
    justify-content: space-between;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  height: 70px;
  border-radius: 10px;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-flow: column wrap;
  overflow: hidden;
  transition : width 2s;
  &:hover{
      .valider{
        animation: demitourslide .5s;
      }
        .entrees__test{
            width: 60%;
        }   
        .circle__valider{
            animation: rotate 1s;
        }
        .entrees__prix{
            animation: demitourslide .5s;
            margin-right: 20px;
        }
    }
    }
    &__titre__plat{
        font-family:Arial, Helvetica, sans-serif ;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 17px;
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__descriptif{
        font-family: $txt-font-texte;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 5px;
        font-weight: bold; 
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__prix{
       font-weight: bold;
        margin-top: 40px;
        width: 20%;
        display: flex;
        justify-content: flex-end;
}
.valider{
    height: 100%;
  width: 30%;
  background-color: $bleu-turquoise-terciaire;
}
.circle__valider{
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-right: 30%;
}
}