.entree{
    display: flex;
    &__titre{
        font-family: $txt-font-titre ;
        margin-left: 20px;
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
.entrees{
    &__titre{
        font-family: $txt-font-texte;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
        border-bottom: solid 3px #99e2d0;
        width: 10%;
    }
    &__description{
        display: flex;
    justify-content: space-between;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  height: 70px;
  border-radius: 10px;
  width: 95%;
  margin-left: 10px;
  position: relative;
  margin-bottom: 10px;
  flex-flow: column wrap;
    
    }
    &__tartare{
        font-family:Arial, Helvetica, sans-serif ;
        font-weight: bold;
        margin-top: 15px;
        font-size: 17px;
        
    }
    &__descriptif{
        font-family: $txt-font-texte;
        font-size: 15px;
        margin-top: 5px;
        font-weight: bold; 
    }
    &__prix{
       font-weight: bold;
        margin-top: 40px;
}
    &__plat{
         width: 90%;
         white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
.entrees__description{
    &:hover{
        .entrees__prix{
            animation: demitourslide 1s;
            margin-right: 40px;
        }
        .valider{
            display: flex;
        }
    }
}
}