input{
    border: none;
    height: 40px;
    background-color: lightgrey;
    text-align: center;
    font-family: $txt-font-texte;
    font-weight: bold;
}
.premiertitre{
    padding-top: 30px;
    text-align: center;
}
.introduction{
    height: 350px;
    background-color:#EFEFEF;
}
.phraseheader{
    font-family: $txt-font-texte;
    text-align: center;
    font-size: 20px;
}
.buttonrestaurant{
    background-image: linear-gradient($violet-primaire,$rose-violet-secondaire,);
    border: 0;
    margin-top: 20px;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    transition-duration: .25s;
     box-shadow: 0.5rem 0.5rem 10px rgb(0 0 0 / 25%);

    &:hover{
       background-color: white;
        box-shadow: 1rem 1rem 5px rgb(0 0 0 / 50%)
    }
}
.header{
    display: block;
    &__arrow{
        top: 2%;
        position: absolute;
margin-left: 35px;
font-size: 20px;
color: black;
}
    &__img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}
.logo{
    text-align: center;
    font-family: $txt-font-titre;
}