input {
  border: none;
  height: 40px;
  background-color: lightgrey;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.premiertitre {
  padding-top: 30px;
  text-align: center;
}

.introduction {
  height: 350px;
  background-color: #EFEFEF;
}

.phraseheader {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
}

.buttonrestaurant {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  height: 50px;
  width: 250px;
  border-radius: 30px;
  margin-top: 40px;
  align-items: center;
  border: none;
  box-shadow: 1px 1px 12px #555;
}

.header {
  display: block;
}
.header__arrow {
  top: 2%;
  position: absolute;
  margin-left: 35px;
  font-size: 20px;
  color: black;
}
.header__img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.logo {
  text-align: center;
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

.recherche {
  background-color: #E7E4E4;
  padding: 10px 0 10px 0;
  margin-top: 2px;
}
.recherche form {
  display: flex;
  justify-content: center;
}
.recherche form .map {
  margin-right: 20px;
  font-size: 15px;
}
.recherche form input {
  height: 20px;
  background-color: #E7E4E4;
  border: none;
}

.entree {
  display: flex;
}
.entree__titre {
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.entrees__test {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entrees__titre {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-bottom: solid 3px #99e2d0;
  width: 10%;
}
.entrees__description {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  height: 70px;
  border-radius: 10px;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-flow: column wrap;
  overflow: hidden;
  transition: width 2s;
}
.entrees__description:hover .valider {
  animation: demitourslide 0.5s;
}
.entrees__description:hover .entrees__test {
  width: 60%;
}
.entrees__description:hover .circle__valider {
  animation: rotate 1s;
}
.entrees__description:hover .entrees__prix {
  animation: demitourslide 0.5s;
  margin-right: 10px;
}
.entrees__titre__plat {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entrees__descriptif {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entrees__prix {
  font-weight: bold;
  margin-top: 40px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.entrees .valider {
  height: 100%;
  width: 30%;
  background-color: #99E2D0;
}
.entrees .circle__valider {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-right: 30%;
}

.cliquer {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.bouton {
  text-align: center;
  margin-bottom: 10px;
}

#photorestaurant {
  background-color: #f6f6f6;
  height: 1350px;
}

.titrerestau {
  margin-bottom: 50px;
  margin: 0 0 30px 30px;
  font-family: "Shrikhand", cursive;
}

.restau {
  position: relative;
}

.imagerestaur {
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  margin-bottom: 65px;
  width: 300px;
  margin-left: 35px;
}

.imagerestaur img {
  height: 170px;
  width: 300px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.titre {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 15px;
}

.endroit {
  color: black;
  margin-left: 15px;
  margin-bottom: 10px;
}

.nouveau {
  position: absolute;
  bottom: 170px;
  left: 240px;
  background-color: #99E2D0;
  padding: 7px 12px;
  color: black;
}

.nouveau2 {
  position: absolute;
  bottom: 170px;
  left: 240px;
  background-color: #99E2D0;
  padding: 7px 12px;
  color: black;
}

.card__btn {
  display: block;
  margin-left: 20%;
  font-size: 15px;
  margin-top: 10px;
}

.card__btn2 {
  margin-left: 80%;
  font-size: 15px;
  margin-top: -35px;
}

.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  background-color: black;
  color: black;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
}

.menu__like {
  margin: 0;
  transition-duration: 0.25s;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.menu__like2 {
  margin: 0;
  transition-duration: 0.25s;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  mix-blend-mode: lighten;
}

.menu__btn:hover .menu__like--nobg {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container2 {
  background-color: #efefef;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  position: relative;
}

footer {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  background-color: #353535;
  color: white;
}
footer .footer-titre {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 19px;
}
footer .footer-menu {
  display: grid;
  margin-left: 20px;
  grid-row-gap: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .footer-menu .footer-element {
  display: flex;
}
footer .footer-menu .footer-element .ic1 {
  margin-right: 20px;
}
footer .footer-menu .footer-element .ic2 {
  margin-right: 12px;
}
footer .footer-menu .footer-element a {
  color: white;
}
footer .utensils__footer {
  margin-right: 10px;
}
footer .helping__footer {
  margin-right: 5px;
}

.logofooter {
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
}

.fonctionnement {
  margin-top: 50px;
}
.fonctionnement .fonc {
  margin: 0 0 30px 30px;
}
.fonctionnement .menu-fonctionnement {
  display: grid;
  grid-row-gap: 20px;
  padding-bottom: 50px;
  justify-self: center;
}
.fonctionnement .menu-fonctionnement li {
  width: 300px;
  justify-self: center;
}
.fonctionnement .menu-fonctionnement li :hover {
  background-color: #F5EDFF;
}
.fonctionnement .menu-fonctionnement li :hover .icon-menu {
  color: #9356DC;
}
.fonctionnement .menu-fonctionnement .btn-nav {
  width: 300px;
  height: 60px;
  color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  box-shadow: 1px 5px 5px lightgrey;
  background-color: #F2F2F2;
  position: relative;
}
.fonctionnement .menu-fonctionnement .btn-nav .icon-menu {
  color: gray;
  justify-self: center;
}
.fonctionnement .menu-fonctionnement .btn-nav .fonctionnement-text {
  font-size: 14px;
}
.fonctionnement .menu-fonctionnement .btn-nav .number {
  position: absolute;
  top: 20px;
  left: -15px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  height: 19px;
  width: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}

li {
  list-style: none;
}

@media (min-width: 1300px) {
  .menu-fonctionnement {
    grid-template-columns: auto auto auto;
  }

  .lesmenu {
    grid-template-columns: auto auto auto auto;
  }

  .footer-menu {
    margin-left: 0;
    grid-template-columns: auto auto auto auto;
  }

  .footer-element {
    justify-self: center;
  }

  .footer-titre {
    justify-self: center;
    font-size: 30px;
  }

  footer {
    padding-bottom: 20px;
  }

  .fonctionnement h2 {
    font-family: "Shrikhand", cursive;
  }

  section h2 {
    font-family: "Shrikhand", cursive;
  }

  .nouveau {
    position: absolute;
    bottom: 230px;
    left: 480px;
    background-color: #99E2D0;
    padding: 7px 12px;
    color: black;
  }

  .texte {
    justify-content: space-between;
  }

  .nouveau2 {
    position: absolute;
    bottom: 230px;
    left: 550px;
    background-color: #99E2D0;
    padding: 7px 12px;
    color: black;
  }

  #photorestaurant {
    height: 900px;
  }

  .logofooter {
    text-align: center;
    font-family: "Shrikhand", cursive;
  }

  .res {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .imagerestaur {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    width: 90%;
  }

  .imagerestaur img {
    height: 250px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    overflow: hidden;
  }

  .titre {
    font-size: 20px;
    color: black;
    margin-left: 10px;
  }

  .endroit {
    font-size: 20px;
    color: black;
    margin-left: 10px;
  }

  .card__btn2 {
    margin-left: 90%;
    font-size: 15px;
    margin-top: -35px;
  }

  .menu__btn {
    background-color: transparent;
    border: transparent 0px solid;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    background-color: black;
    color: black;
  }
  .menu__btn:hover::before {
    opacity: 1;
  }
  .menu__btn::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  }

  .cartes {
    width: 50%;
  }

  .menu__like {
    margin: 0;
    transition-duration: 0.25s;
    background-color: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    mix-blend-mode: lighten;
  }

  .menu__like2 {
    margin: 0;
    transition-duration: 0.25s;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    mix-blend-mode: lighten;
  }

  .menu__btn:hover .menu__like--nobg {
    opacity: 0;
  }

  .loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader__point {
    display: flex;
    width: 5rem;
    justify-content: space-between;
  }
  .loader__item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
  }

  .loader__point--1 {
    background-color: #9356DC;
  }

  .loader__point--2 {
    background-color: #FF79DA;
    animation-delay: 0.25s;
  }

  .loader__point--3 {
    background-color: #99E2D0;
    animation-delay: 0.5s;
  }

  .choix {
    font-family: "Shrikhand", cursive;
  }

  .header {
    display: block;
  }
  .header__arrow {
    position: absolute;
    margin-left: 30px;
    font-size: 25px;
    color: black;
  }
  .header__img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .logo {
    text-align: center;
    font-family: "Shrikhand", cursive;
  }

  .grostitre {
    text-align: center;
  }

  .menus {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .entree {
    display: flex;
    justify-content: space-between;
  }
  .entree__titre {
    font-family: "Shrikhand", cursive;
    margin-left: 20px;
    margin-right: 100px;
    font-size: 22px;
  }
  .entree__heart {
    padding-top: 45px;
    font-size: 25px;
  }

  .recherche {
    background-color: #E7E4E4;
    padding: 10px 0 10px 0;
    margin-top: 2px;
  }
  .recherche form {
    display: flex;
    justify-content: center;
  }
  .recherche form input {
    height: 20px;
    background-color: #E7E4E4;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 376px) and (max-width: 769px) {
  .res {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .menus {
    margin-left: 25%;
  }

  .card__btn {
    margin-left: 60%;
    font-size: 15px;
  }

  .entree {
    display: flex;
  }
  .entree__titre {
    font-family: "Shrikhand", cursive;
    margin-left: 20px;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .entrees__test {
    width: 80%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entrees__titre {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-bottom: solid 3px #99e2d0;
    width: 10%;
  }
  .entrees__description {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    height: 70px;
    border-radius: 10px;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-flow: column wrap;
    overflow: hidden;
    transition: width 2s;
  }
  .entrees__description:hover .valider {
    animation: demitourslide 0.5s;
  }
  .entrees__description:hover .entrees__test {
    width: 60%;
  }
  .entrees__description:hover .circle__valider {
    animation: rotate 1s;
  }
  .entrees__titre__plat {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entrees__descriptif {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entrees__prix {
    font-weight: bold;
    margin-top: 40px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  .entrees .valider {
    height: 100%;
    width: 30%;
    background-color: #99E2D0;
  }
  .entrees .circle__valider {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-right: 30%;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes menu {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes demitourslide {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
