@media (min-width: 1300px)
{
    .menu-fonctionnement
    {
        grid-template-columns: auto auto auto;
    }
    .lesmenu
    {
        grid-template-columns: auto auto auto auto;
    }
    .footer-menu
    {
        margin-left: 0;
        grid-template-columns: auto auto auto auto;
        
    }
    .footer-element
    {
        justify-self: center;
    }
    .footer-titre
    {
        justify-self: center;
        font-size: 30px;
    }
    footer{
        padding-bottom: 20px;
    }
    .fonctionnement h2

    {
        font-family: $txt-font-titre;
    }
    section h2 
    {
       font-family: $txt-font-titre;
    }
.phraseheader{
    margin-left: 385px;
}

    .nouveau{
    position: absolute;
    bottom: 270px;
    left: 480px;
    background-color: $bleu-turquoise-terciaire;
    padding: 7px 12px;
    color: black;
    
}
.nouveau2{
    position: absolute;
    bottom: 245px;
    left: 470px;
    background-color: $bleu-turquoise-terciaire;
    padding: 7px 12px;
    color: black;
    
}
#photorestaurant{
    height: 1100px;

}
.res{
    display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
}
.restau{
    position: relative;
     
}
.imagerestaur{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    width: 550px;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
}
.imagerestaur img{
    height: 250px;
    width: 550px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.titre{
    font-size: 25px;
}
.endroit{
    font-size: 20px;
}
.card__btn{
    position: relative;
    bottom: 35px;
    left: 250px;
}
.menu__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;
    color: black;
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient($violet-primaire 0%,$rose-violet-secondaire 100%);
    }
  }

.menu__like {
    margin: 0;
    transition-duration: .25s;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

.menu__btn:hover {
    .menu__like {
      &--nobg {
        opacity: 0;
      }
    }
  }
.buttonrestaurant{
    margin-left: 550px;
}
.logo{
        margin-left: 530px;
    width: 300px;
}
.loader{
  position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    &__point{
      display: flex;
    width: 5rem;
    justify-content: space-between;
    }
    &__item{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
    }
}
.loader__point--1{
      background-color: $violet-primaire;
    }
.loader__point--2{
     background-color: $rose-violet-secondaire; 
     animation-delay: .25s;
    }
.loader__point--3{
      background-color: $bleu-turquoise-terciaire;
      animation-delay: .5s;
    }
.choix{
     font-family: $txt-font-titre ;
}
.header{
    display: flex;
    &__arrow{
margin-left: 20px;
margin-top: 20px;
font-size: 20px;
color: black;
}
    &__logo{
        width: 150px;
    }
    &__img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.menus{
    display: grid;
    grid-template-columns: auto auto auto;
}
.entree{
    display: flex;
    justify-content: space-between;
    &__titre{
        font-family: $txt-font-titre ;
        margin-left: 20px;
        margin-right: 100px;
        font-size: 22px;
    }
    &__heart{
        padding-top: 45px;
        font-size: 25px;
    }
}
.valider{
  position: absolute;
  right: 0px;
  height: 100%;
  width: 50px;
  background-color: $bleu-turquoise-terciaire;
  animation: demitourslide 1s;
  display: none;
}
.circle__valider{
  margin: auto;
  color: white;
  font-size: 25px;
  animation: rotate 1s;
}
.recherche
{
    background-color: #E7E4E4;
    padding: 10px 0 10px 0;
    margin-top: 2px;
    form
     {
        display: flex;
        justify-content: center;

        input
          {
            height: 20px;
            background-color: #E7E4E4;
            border: none;
            font-size: 20px;
            font-weight: bold;
          }
     }
}
}