@media all and ( min-width: 1300px) 
{
    .menu-fonctionnement
    {
        grid-template-columns: auto auto auto;
    }
    .lesmenu
    {
        grid-template-columns: auto auto auto auto;
    }
    .footer-menu
    {
        margin-left: 0;
        grid-template-columns: auto auto auto auto;
        
    }
    .footer-element
    {
        justify-self: center;
    }
    .footer-titre
    {
        justify-self: center;
        font-size: 30px;
    }
    footer{
        padding-bottom: 20px;
    }
    .fonctionnement h2

    {
        font-family: "Shrikhand"
    }
    section h2 
    {
       font-family: "Shrikhand"
    }
}