@media (min-width: 1300px)
{
    .menu-fonctionnement
    {
        grid-template-columns: auto auto auto;
    }
    .lesmenu
    {
        grid-template-columns: auto auto auto auto;
    }
    .footer-menu
    {
        margin-left: 0;
        
    }
    .footer-element
    {
        justify-self: center;
    }
    .footer-titre
    {
        justify-self: center;
        font-size: 30px;
    }
    footer{
        padding-bottom: 20px;
    }
    .fonctionnement h2

    {
        font-family: $txt-font-titre;
    }
    section h2 
    {
       font-family: $txt-font-titre;
    }
    .nouveau{
    position: absolute;
    bottom: 230px;
    left: 550px;
    background-color: $bleu-turquoise-terciaire;
    padding: 7px 12px;
    color: black;
    
}
.texte{
    justify-content: space-between;
}
.nouveau2{
    position: absolute;
    bottom: 230px;
    left: 550px;
    background-color: $bleu-turquoise-terciaire;
    padding: 7px 12px;
    color: black;
    
}
#photorestaurant{
    height: 900px;
}
.logofooter{
     font-family: $txt-font-titre
}
.res{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imagerestaur{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    width: 90%;
}
.imagerestaur img{
    height: 250px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    overflow: hidden;
}
.titre{
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
.endroit{
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
.card__btn2{
    margin-left: 80%;
    font-size: 15px;
    margin-top: -35px;
}
.menu__btn {
    background-color: transparent;
    border: transparent 0px solid;
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
    background-color: black;
    color: black;
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient($violet-primaire 0%,$rose-violet-secondaire 100%);
    }
  }
.cartes{
    width: 50%;
}
.menu__like {
    margin: 0;
    transition-duration: .25s;
    background-color: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    mix-blend-mode: lighten;
  }
  .menu__like2 {
    margin: 0;
    transition-duration: .25s;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    mix-blend-mode: lighten;
  }


.menu__btn:hover {
    .menu__like {
      &--nobg {
        opacity: 0;
      }
    }
  }

.loader{
  position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    &__point{
      display: flex;
    width: 5rem;
    justify-content: space-between;
    }
    &__item{
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
    }
}
.loader__point--1{
      background-color: $violet-primaire;
    }
.loader__point--2{
     background-color: $rose-violet-secondaire; 
     animation-delay: .25s;
    }
.loader__point--3{
      background-color: $bleu-turquoise-terciaire;
      animation-delay: .5s;
    }
.choix{
     font-family: $txt-font-titre ;
}
.header{
    display: block;
    &__arrow{
        position: absolute;
margin-left: 30px;
font-size: 25px;
color: black;
}
    &__img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.logo{
    text-align: center;
    font-family: $txt-font-titre;
}
.menus{
    display: grid;
    grid-template-columns: auto auto auto;
}
.entree{
    display: flex;
    justify-content: space-between;
    &__titre{
        font-family: $txt-font-titre ;
        margin-left: 20px;
        margin-right: 100px;
        font-size: 22px;
    }
    &__heart{
        padding-top: 45px;
        font-size: 25px;
    }
}
.recherche
{
    background-color: #E7E4E4;
    padding: 10px 0 10px 0;
    margin-top: 2px;
    form
     {
        display: flex;
        justify-content: center;

        input
          {
            height: 20px;
            background-color: #E7E4E4;
            border: none;
            font-size: 20px;
            font-weight: bold;
          }
     }
}
}
@media all and (min-width: 376px) and (max-width: 769px)
{
.res{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menus{
    margin-left: 25%;
}
.card__btn{
    margin-left: 60%;
    font-size: 15px;
}
.entree{
    display: flex;
    &__titre{
        font-family: $txt-font-titre ;
        margin-left: 20px;
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
.entrees{
    &__test{
        width: 80%;
        align-items: center;
        white-space: nowrap;
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__titre{
        font-family: $txt-font-texte;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
        border-bottom: solid 3px #99e2d0;
        width: 10%;
    }
    &__description{
        display: flex;
    justify-content: space-between;;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  height: 70px;
  border-radius: 10px;
  width: 60%;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-flow: column wrap;
  overflow: hidden;
  transition : width 2s;
  &:hover{
      .valider{
        animation: demitourslide .5s;
      }
        .entrees__test{
            width: 60%;
        }   
        .circle__valider{
            animation: rotate 1s;
        }
    }
    }
    &__titre__plat{
        font-family:Arial, Helvetica, sans-serif ;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 17px;
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__descriptif{
        font-family: $txt-font-texte;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 5px;
        font-weight: bold; 
         overflow: hidden;
        text-overflow: ellipsis;
    }
    &__prix{
       font-weight: bold;
        margin-top: 40px;
        width: 20%;
        display: flex;
        justify-content: flex-end;
}
.valider{
    height: 100%;
  width: 30%;
  background-color: $bleu-turquoise-terciaire;
}
.circle__valider{
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-right: 50%;
}
}
}