a{
    text-decoration: none;
}
.recherche
{
    background-color: #E7E4E4;
    padding: 10px 0 10px 0;
    margin-top: 2px;
    form
     {
        display: flex;
        justify-content: center;
   
        .map
            {
              margin-right: 20px;
              font-size: 15px;
            }
        input
          {
            height: 20px;
            background-color: #E7E4E4;
            border: none;
          }
     }
}
