// couleur 
$violet-primaire : #9356DC;
$rose-violet-secondaire : #FF79DA;
$bleu-turquoise-terciaire : #99E2D0;
$gris-background : #f6f6f6;
$acceuil-background: #EFEFEF;

// textes 
$txt-font-titre : 'Shrikhand', cursive;
$txt-font-texte :  'Roboto', sans-serif;